





.Textsmall {


    -fx-font-size:  200%;


}

.button {
    -fx-background-color: #1a936f;
}
.radio-button {

}


.button:hover {
    -fx-scale-x: 5.1;
    -fx-scale-y: 1.1;
}
